<div class="topic" style="display: none;">
    <p class="icon"><img src="asset/svg/sea.svg" alt=""></p>
    <p class="word"><img src="asset/svg/chill.svg" alt=""></p>
</div>
<a href="javascript:;" class="arrow" style="display: none;" ng-click="arrowBtn()"><img src="asset/svg/right.svg" alt="" width="25"></a>
<div class="page_cont">
    <!--男-->
    <div class="chill c_1">
        <p>在優雅型男和沙灘
            <br>男孩之間取得絕佳
            <br>平衡</p>
    </div>
    <!--產品-->
    <div class="chill c_2">
        <p>牛津襯衫內搭文字T恤
            <br>營造個性海灘穿搭超簡單</p>
    </div>
    <!--女-->
    <div class="chill c_3">
        <p>艷陽沙灘海洋
            <br>配青春甜美的
            <br>海軍風剛好</p>
    </div>
    <!--產品-->
    <div class="chill c_4">
        <p>用橫紋和草編感
            <br>完美打造夏日愜意氣息</p>
    </div>
    <!--沁涼_final-->
    <div class="chill c_final">
        <div class="des">
            <h2>不敗條紋<span class="icon-xx"></span>舒適棉質</h2>沁涼海洋風實著
        </div>
        <div class="btns">
            <a href="javascript:;" ng-click="couponBtn();" class="btn_pink">領夏日優惠去<span class="icon-arrow"></span></a>
            <a href="javascript:;" ng-click="chooseBtn()" class="btn_skin">其他主題穿搭<span class="icon-arrow"></span></a></div>
    </div>
</div>
<!--行程 1-->
<ul class="day" style="display: none;">
    <li><span class="icon icon-landmark"></span>
        <p>墾丁</p>
    </li>
    <li><span class="number">1</span>
        <p>恆春鎮</p>
    </li>
    <li><span class="number">2</span>
        <p>白沙灣</p>
    </li>
    <li><span class="number">3</span>
        <p>墾丁大街</p>
    </li>
</ul>
<!--行程 2-->
<ul class="day" style="display: none;">
    <li><span class="icon icon-landmark"></span>
        <p>高雄</p>
    </li>
    <li><span class="number">1</span>
        <p>中央公園</p>
    </li>
    <li><span class="number">2</span>
        <p>旗津</p>
    </li>
    <li><span class="number">3</span>
        <p>六合夜市</p>
    </li>
</ul>
