<div class="choose">
    <h1>選擇<p>你的夏日主題</p></h1>
    <a href="javascript:;" class="btn b_1" ng-click="chillBtn()"><img src="asset/svg/sea.svg" height="60" alt="">
        <p>沁涼</p>
    </a>
    <a href="javascript:;" class="btn b_2" ng-click="vibrantBtn()"><img src="asset/svg/diamond.svg" height="60" alt="">
        <p>閃耀</p>
    </a>
    <a href="javascript:;" class="btn b_3" ng-click="livelyBtn()"><img src="asset/svg/mountain.svg" height="60" alt="">
        <p>奔放</p>
    </a>
    <a href="javascript:;" class="btn b_4" ng-click="carefreeBtn()"><img src="asset/svg/bike.svg" height="60" alt="">
        <p>自在</p>
    </a>
</div>
