<div class="title"><img src="asset/svg/title.svg" alt=""></div>
<div class="index">
    <ul>
        <li>
            <a href="javascript:;" class="icon-info" ng-click="activityBtn()"></a>
        </li>
        <li>
            <a href="javascript:;" class="icon-location" ng-click="storeBtn()"></a>
        </li>
    </ul>
</div>
<a href="javascript:;" class="bottombtn" ng-click="chooseBtn()">
    <div>看完分享再抽<span class="bold">住宿大獎</span>！GO
        <p><span class="icon-arrow"></span></p>
    </div>
</a>
