<div class="topic" style="display: none;">
    <p class="icon"><img src="asset/svg/bike.svg" alt=""></p>
    <p class="word"><img src="asset/svg/carefree.svg" alt=""></p>
</div>
<a href="javascript:;" class="arrow" ng-click="arrowBtn()" style="display: none;"><img src="asset/svg/right.svg" alt="" width="25"></a>
<div class="page_cont">
    <!--男-->
    <div class="carefree cf_1">
        <p>鄰家大男孩不做作的穿搭
            <br>好感度自然up</p>
    </div>
    <!--產品-->
    <div class="carefree cf_2">
        <p>直覺隨性的穿搭
            <br>給人最清新美好的想像</p>
    </div>
    <!--女-->
    <div class="carefree cf_3">
        <p>用慵懶休閒風格
            <br>穿出迷人氣息</p>
    </div>
    <!--產品-->
    <div class="carefree cf_4">
        <p>擁有彩色口袋的牛仔短褲
            <br>平凡中的巧思更讓人驚喜</p>
    </div>
    <!--final-->
    <div class="carefree cf_final">
        <div class="des">
            <h2>不簡單<span>的</span>簡單穿搭</h2>
            <br>永不褪流行
        </div>
        <div class="btns">
            <a href="javascript:;" ng-click="couponBtn();" class="btn_blue">領夏日優惠去<span class="icon-arrow"></span></a>
            <a href="javascript:;" ng-click="chooseBtn()" class="btn_pink">其他主題穿搭<span class="icon-arrow"></span></a></div>
    </div>
</div>
<!--行程 1-->
<ul class="day" style="display: none;">
    <li><span class="icon icon-landmark"></span>
        <p>台南</p>
    </li>
    <li><span class="number">1</span>
        <p>四草隧道</p>
    </li>
    <li><span class="number">2</span>
        <p>安平老街</p>
    </li>
    <li><span class="number">3</span>
        <p>花園夜市</p>
    </li>
</ul>
<!--行程 2-->
<ul class="day" style="display: none;">
    <li><span class="icon icon-landmark"></span>
        <p>嘉義</p>
    </li>
    <li><span class="number">1</span>
        <p>民雄</p>
    </li>
    <li><span class="number">2</span>
        <p>故宮南院</p>
    </li>
    <li><span class="number">3</span>
        <p>東石碼頭</p>
    </li>
</ul>
